
  <!-- book section -->
    <section class="book_section layout_padding" id="book">
            <div class="container">
                <div class="heading_container">
                    <h2>
                        Joy band qilish
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form_container">
                            <form action="">
                                <div>
                                    <input type="text" class="form-control" placeholder="Ismingiz" />
                                </div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Telefon raqam" />
                                </div>
                                <div>
                                    <input type="email" class="form-control" placeholder="Email" />
                                </div>
                                <div>
                                    <select class="form-control nice-select wide">
                                        <option value="" disabled selected>
                                            Nechi kishi uchun?
                                        </option>
                                        <option value="">
                                            2
                                        </option>
                                        <option value="">
                                            3
                                        </option>
                                        <option value="">
                                            4
                                        </option>
                                        <option value="">
                                            5
                                        </option>
                                        <option value="">
                                            6
                                        </option>
                                        <option value="">
                                            7
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="btn_box">
                                    <button>
                                        Buyurtma qilish
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map_container">
                            <div>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.811446534475!2d69.212954576541!3d41.334713299260045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bfe2c9dfdb7%3A0x4e70e6b88f98e874!2sMARS%20IT%20School!5e0!3m2!1sru!2s!4v1707288217810!5m2!1sru!2s"
                                    width="600"
                                    height="450"
                                    style="border: 0;"
                                    allowfullscreen=""
                                    loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  <!-- end book section -->
